.profileBox {
  margin: auto 0px auto 0px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
}

.profileBoxSample {
  margin: auto 0px auto 0px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profileBox:hover {
  box-shadow: 0 5px 5px gray;
}
