/* Global CSS Variables: https://www.w3schools.com/css/css3_variables.asp */
/* Reference these in your CSS to get the same color as the mockups */
:root {
  --actionBackgroundColor: #f76b8a;
  --actionTextColor: white;
  --activeColor: #66bfbf;
  --standardBackgroundColor: #fcfefe;
  --alternativeBackgroundColor: #eaf6f6;
  --standardTextColor: black;
  --lightColor: lightgray;
  --moderateColor: darkgray;
  --defaultComponentHeight: 100px;
  --defaultComponentWidth: 600px;
  --smallerComponentWidth: 300px;
  --formRadius: 10px;
  --buttonRadius: 10px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v126/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--alternativeBackgroundColor);
  user-select: none;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline-color: var(--activeColor);
}

select {
  border-color: var(--moderateColor);
}

input,
button,
label[for="inputImg"] {
  -webkit-transition: all 0.3s;
}

input:hover {
  border: 3px solid var(--actionBackgroundColor);
}

input {
  height: 30px;
  border: 1.5px solid var(--lightColor);
  border-radius: 5px;
}

li > input {
  border-radius: 0;
}

input[type="number"] {
  width: 100px;
}

input[type="text"] {
  border-color: var(--lightColor);
}

input[type="radio"] {
  height: 20px;
}

input[type="submit"]:hover,
input[type="button"]:hover,
label[for="inputImg"]:hover,
button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

ul,
li {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
